@mixin flex($justify: center, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin backgroundImage($url: 'https://via.placeholder.com/150') {
  background-image: url(#{$url});
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes scaleIn {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes circularMotion {
  0% {
    background-position: 100% 50%;
  }
  25% {
    background-position: 75% 75%;
  }
  50% {
    background-position: 50% 100%;
  }
  75% {
    background-position: 25% 75%;
  }
  100% {
    background-position: 0% 50%;
  }
}