$black: black;
$white: white;
$bg_color: #333;
$container_color: #222;
$border_color: #6e6e6e;
$dark-background-image: '/assets/background-image-dark.webp';

$padding: 15px;
$gap: 15px;
$border_radius: 40px;

$light-black: #e4e4e4;
$light-white: #333;
$light-bg_color: #f0f0f0;
$light-container_color: #ffffff;
$light-border_color: #cccccc;
$light-background-image: '/assets/background-image-light.webp';

$button-names: one, two, three;